* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    width: 85%;
    margin: 0 auto;
  }
  
  button, input[type="text"] {
   padding: 5px;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  #bookmark-list-item {
    width: 250px;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    list-style: none;
    padding-left: 0;
    background-color: floralwhite;

  }

  .container li .description {
    background-color: gainsboro;
    padding: 10px; 
  }

  .container li .bookmark-title {
    padding-right: 120px;
  }

  .container .bookmark-item {
    margin-right: 80px;
  }

  .container button {
    margin: 0 0 10px 0;

  }
  
  .container li {
    margin-bottom: 20px;
    border: 1px solid grey;
    padding: 20px;
    background-color: antiquewhite;
  }

  .bookmark-item__collapsed {
      display: none;
      /* transition-timing-function: ease; */
  }